---
Checks: 'modernize-*,bugprone-*,performance-*,readability-*'
HeaderFilterRegex: 'src/.*'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key:             readability-identifier-naming.MemberPrefix
    value:           'm_'
  - key:             readability-identifier-naming.MemberCase
    value:           camelCase
...
